<!--<h3 id="universal">Angular2 Universal</h3>-->
<!--<nav>-->
  <!--<a routerLinkActive="router-link-active" routerLink="home">Home</a>-->
  <!--<a routerLinkActive="router-link-active" routerLink="about">About</a>-->
  <!--<a routerLinkActive="router-link-active" routerLink="todo">Todo</a>-->
  <!--<a routerLinkActive="router-link-active" routerLink="lazy">Lazy</a>-->
<!--</nav>-->
<!--<div class="hero-universal">-->
  <!--<div class="inner-hero">-->
    <!--<div>dsadsadsdssadasdadads-->
      <!--<span xLarge>Universal JavaScript {{ title }}!</span>-->
    <!--</div>-->

    <!--Two-way binding: <input type="text" [value]="title" (input)="title = $event.target.value">-->

    <!--<br>-->
    <!--<br>-->

    <!--<strong>Router-outlet:</strong>-->
    <!--<main>-->
      <!--<router-outlet></router-outlet>-->
    <!--</main>-->
  <!--</div>-->
<!--</div>-->

<h1>{{title}}</h1>
<nav>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
</nav>
<router-outlet></router-outlet>

<div *ngIf="loading">
  Please wait
</div>

